body {
    font-family: "Source Sans Pro", "Open Sans", serif;
    margin: 0;
}

.no-padding-left { padding-left: 0!important; }
.no-padding-right { padding-right: 0!important; }
.no-list-style { list-style: none; }
.no-radius { border-radius: 0!important; }
.bold { font-weight: bold; }
.hide { display: none!important; }
.topic-list li { margin: 10px 0 10px 0 }